
@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style>
    h1{
        font-size:50px
    }
</style>

<br/>
<br /><br /><br />
<h1>THANH TOÁN THÀNH CÔNG</h1>

