@model Phongkham.Models.KHOA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Scripts/script.js"></script>
<link href="~/Content/KHOA.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
<style>
    .tsx {
        font-size: 1.7rem;
        color: var(--ligt-color);
        line-height: 1.8;
        padding: 1rem 0;
    }

    .ten {
        color: var(--black);
        font-size: 2.5rem;
        padding: 1rem 0;
    }

    .sure {
        font-size: 1.7rem;
        color: var(--black);
        line-height: 1.8;
        padding: 1rem 0;
    }
</style>


<div>
    <h1 class="heading">CHUYÊN <span>KHOA</span></h1>
    <hr />
    <dl class="dl-horizontal">
        <dt class="ten">
            Tên khoa
        </dt>

        <dd class="tsx">
            @Html.DisplayFor(model => model.TenKhoa)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h3 class="sure">Are you sure you want to delete this?</h3>
        <div class="form-actions no-color">
            <div class="tsx">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    }
</div>
