
@{
    ViewBag.Title = "BN";
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}

<script src="~/Scripts/script.js"></script>
<link href="~/Content/mystyle.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
<stye>
</stye>
<div>
    <section class="home" id="home">
        <div class="img">
            <div class="content">
                <h3 class="h3">
                    TRUNG TÂM Y KHOA VTPG <br> DỊCH VỤ KHÁM CHỮA BỆNH<h3>
                        <p class="p">Kiểm tra sức khỏe, Khám bệnh, Chăm sóc sức khỏe</p>
                        <a class="a" href="#">Xem thêm<span class="fas fa-chevron-right"> </span></a>
            </div>
        </div>
    </section>

    <section class="icons-container">
        <div class="icons">
            <i class="fas fa-user-md"></i>
            <h3>140+</h3>
            <p>Bác sĩ có chuyên môn tốt</p>
        </div>
        <div class="icons">
            <i class="fas fa-users"></i>
            <h3>1040+</h3>
            <p>Người chọn dịch vụ y tế của chúng tôi</p>
        </div>
        <div class="icons">
            <i class="fas fa-procedures"></i>
            <h3>500+</h3>
            <p>Giường bệnh</p>
        </div>
    </section>

    <section class="services" id="services">
        <h1 class="heading">OUR <span>SERVICE</span></h1>
        <div class="box-container">
            <div class="box">
                <i class="fas fa-notes-medical"></i>
                <h3>Dịch vụ Bảo hiểm y tế</h3>
                <p>Với sứ mạng “Hoạt động vì lợi ích sức khỏe cộng đồng” Trung Tâm Y Khoa VTPG luôn tâm niệm đem đến những dịch vụ tốt nhất đến với mọi tầng lớp khách hàng. Chính vì…</p>
                <a href="#" class="btn">Xem thêm</a>
            </div>
            <div class="box">
                <i class="fas fa-building"></i>
                <h3>Dịch vụ khám công ty</h3>
                <p>Phòng khám Y khoa VTPG tổ chức khám sức khỏe định kỳ cho các đơn vị công ty theo Thông tư 32/2023/TT-BYT của Bộ Y tế. Phục vụ công tác khám sức khỏe cho các đơn…</p>
                <a href="#" class="btn">Xem thêm</a>
            </div>
            <div class="box">
                <i class="fas fa-vial"></i>
                <h3>Dịch vụ xét nghiệm</h3>
                <p>Xét nghiệm lâm sàng luôn đóng vai trò đặc biệt quan trọng, có ý nghĩa vô cùng to lớn trong quá trình khám chữa bệnh của ngành y học. Được mệnh danh là “ hoa tiêu ”…</p>
                <a href="#" class="btn">Xem thêm</a>
            </div>
            <div class="box">
                <i class="fas fa-tooth"></i>
                <h3>Dịch vụ nha khoa</h3>
                <p>Là một trong những khoa khám chữa bệnh có lịch sử hoạt động lâu đời và đạt được nhiều thành tựu của Trung Tâm Y Khoa VTPG – Khoa Nha VTPG chúng tôi luôn có…</p>
                <a href="#" class="btn">Xem thêm</a>
            </div>
        </div>
    </section>

    <section class="about" id="about">
        <h1 class="heading"><span>ABOUT</span> US</h1>
        <div class="row">
            <div class="image">
                <img src="~/image/doctor.jpg" alt="" />
            </div>
            <div class="content">
                <h3>Sức khỏe của bạn chính là sứ mệnh của chúng tôi</h3>
                <p></p>
                <a class="btn" href="#">Xem thêm<span class="fas fa-chevron-right"> </span></a>
            </div>
        </div>

    </section>

    <section class="secialty" id="secialty">
        <h1 class="heading">MEDICAL<span> SECIALTY</span></h1>
        <div class="box-container">
            <div class="box">
                <img src="~/image/cap-cuu.jpg" alt="">
                <h3>Khoa cấp cứu</h3>
                <p>Khoa cấp cứu của Trung Tâm Y Khoa Kỳ Hòa hoạt động liên tục. Chuyên…</p>
                <a class="btn" href="#">Xem thêm</a>
            </div>
            <div class="box">
                <img src="~/image/khoa-da-lieu.jpg" alt="">
                <h3>Khoa da liễu</h3>
                <p>Nhằm đáp ứng nhu cầu làm đẹp ngày càng cao của của khách hàng, Trung…</p>
                <a class="btn" href="#">Xem thêm</a>
            </div>
            <div class="box">
                <img src="~/image/noi-khoa.jpg" alt="">
                <h3>Khoa nội</h3>
                <p>Với phương châm tận tụy hết mình với người bệnh , trách nhiệm cao khi…</p>
                <a class="btn" href="#">Xem thêm</a>
            </div>
            <div class="box">
                <img src="~/image/tai-mui-hong.jpg" alt="">
                <h3>Khoa Tai-Mũi-Họng</h3>
                <p>Khoa tai mũi họng nhận tư vấn, khám và điều trị các bệnh lý tai…</p>
                <a class="btn" href="#">Xem thêm</a>
            </div>
        </div>
    </section>

</div>


